.page {
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    width: 100vw;
    padding: 0 180px; 
    height: 100vh;
    display: flex;
    align-items: center;
}

.profilePage {
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
}

.profilePage::-webkit-scrollbar {
    display: none;
}


.pageTitle {
    color: var(--twitter-color);
    text-align: center;
    font-size: 30px;
}

.fullscreen-map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999; 
}

.weather-tile {
  position: absolute;         /* inside .fullscreen-map */
  bottom: 20px;               /* 20px from bottom */
  right: 0px;                  /* center horizontally */
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  text-align: center;
  width: 280px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;              /* optional, just to make sure it appears */
}





